<!DOCTYPE html>
<html>
<head>
	<title>Feed</title>
</head>
<body>
	<h1>Feed</h1>
	<% if !@post.empty? %>
	<% @post.each do |post| %>
		<div class="post">
			<h2><%= post.content %></h2>
			<br>
			<p> <%= post.body %> </p>
		</div>
	<% end %>
<% else %>
	<p> NO POSTS YET </p>
<% end %>



</form>
</body>
</html>