<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form method="post" action="/login_verify">
		<label>Email</label>
			<input type="text" name="email">

		<label>Password</label>
			<input type="password" name="password">

		<button type="submit">Submit</button>
	</form>
</body>
</html>