<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
</head>
<body>
	<form method="POST" action="/enter_post">
	<p>
	  <label>Title
	  </label>
		<input type="text" name="content"/>
	  <label>Body</label>

	  <textarea name="body" id="textarea" cols="30" rows="3"></textarea>
	</p>
	<p>
	  <button type="submit">Submit</button>
	</p>
</body>
</html>