<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	<p>Hello, <%= @user.fname %> !</p>
	<a href="feed">Top Ten Posts</a>
	<a href="edit">Edit Posts</a>
	<a href="post">Make A Post</a>
	<a href="logged_out">Logout</a>
</body>
</html>