<!DOCTYPE html>
<html>
<head>
	<title>Sign-up</title>
</head>
<body>

	<form method="post" action="/signup">

		<label>First Name</label>
			<input type="text" name="first_name">

		<label>Last Name</label>
			<input type="text" name="last_name">

		<label>Email</label>
			<input type="text" name="email">

		<label>Password</label>
			<input type="password" name="password">

		<button type="submit">Submit</button>
		<%= flash[:notice] %>

	</form>
</body>
</html>